<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/insertcenter.css">
</head>
<body>
<div class="form_container">
    <form action="/insertcenter" method="post">
        <input type="number" placeholder="Enter center ID" name="center_id">
        <input type="text" placeholder="Enter center name" name="center_name">
        <input type="text" placeholder="Enter center location" name="location">
        <input type="submit" value="Submit" id="btn">
        <a href="/inde" id="btn">Go back</a>
    </form>
</div>
</body>
</html>