<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert/Delete</title>
    <link rel="stylesheet" href="/css/insert.css">
</head>

<body>
<main id="main">
    <div class="insert-btn">
        <a href="/insertcan" class="btn">Insert candidate</a>
        <a href="/insertcenter" class="btn">Insert center</a>
        <a href="/insertparty" class="btn">Insert party</a>
        <a href="/" class="btn">Home</a>
    </div>
        <div class="delete-btn">
            <a href="/deletecan" class="btnd">Delete Candidate</a>
            <a href="/deletecenter" class="btnd">Delete Center</a>
            <a href="/deletevoter" class="btnd">Delete Voter</a>
            <a href="/deletepar" class="btnd">Delete Party</a>
            <form action="/inde" method="post" style="display: inline-block;">
                <input type="submit" name="dvote" value="Delete All Votes" onclick="alert('All voted deleted')" class="btnd"
                    id="sub">
            </form>
            <form action="/inde" method="post" style="display: inline-block;">
                <input type="submit" name="dvoter" value="Delete All Voters" onclick="alert('All voters deleted')"
                    class="btnd" id="sub">
            </form>
        </div>
</main>
</body>

</html>