<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/insertcan.css">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/inde">Go Back</a>
    </header>
<div class="form">
    <form action="/insertcan" method="post" id="insert_can">
        <input type="number" name="id" id="id" placeholder="Enter candidate ID">
        <input type="text" name="name" id="name" placeholder="Enter candidate Name">   


       <!---- <input type="text" name="party_id" placeholder="Enter Valid party_id"> ---->
        <select name="party_id" id="party_id">
            <%for (let i = 0; i < par_id.length; i++) {%>
                <option value="<%= par_id[i] %>"><%= par_id[i]%></option>
            <%}%>
        </select>
        <input type="text" name="address" placeholder="Enter candidate address">
        <input type="email" name="mail" id="mail" placeholder="Enter candidate mail">
        <input type="number" name="phno" placeholder="Enter candidate phone">
        <input type="submit" value="Submit">
    </form>
    <form action="/insertcan" method="post" id="delete_can">
        <input type="submit" value="Delete" name="delete">
    </form>
</div>

</script>
</body>
</html>