<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voter login</title>
</head>
<body>
    <div class="login">
        <form action="/totalvotes" method="post">
            <input type="number" name="id" id="id" placeholder="Enter voter ID">
            <input type="text" name="name" id="name" placeholder="Enter you Name">
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>