*{
    font-family: sans-serif;
    padding:0 ;
    font-size: 15px;
}
body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
}
#main{
    height: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml;utf8, %3Csvg width='100%25' height='100%25' viewBox='0 0 1000 1000' xmlns='http://www.w3.org/2000/svg' %3E %3Cdefs%3E %3ClinearGradient id='linearGradientId' gradientTransform='rotate(135 0.5 0.5)'%3E %3Cstop offset='0%25' stop-color='%233A6073' /%3E %3Cstop offset='100%25' stop-color='%2316222A' /%3E %3C/linearGradient%3E %3CclipPath id='shape'%3E %3Cpath fill='currentColor' d='M752,686Q621,872,398,804Q175,736,195,514.5Q215,293,425,188.5Q635,84,759,292Q883,500,752,686Z'%3E%3C/path%3E %3C/clipPath%3E %3C/defs%3E %3Cg clip-path='url(%23shape)'%3E %3Cpath fill='url(%23linearGradientId)' d='M752,686Q621,872,398,804Q175,736,195,514.5Q215,293,425,188.5Q635,84,759,292Q883,500,752,686Z' /%3E %3C/g%3E %3C/svg%3E");
      
      
}
//insert btn
a.btn {
    min-width: 46.25px;
    width: 170px;
}
.btn {
  align-items: center;
  padding: 0;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.btn:hover,
.btn:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.btn:hover {
  transform: translateY(-1px);
}

.btn:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
a{
    text-decoration: none;
    color: black;
    padding: 0;
}
#sub:hover{
    cursor: pointer;
}
.insert-btn{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 19px;
}
.delete-btn{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-right: 20px;
    flex-direction: column;
}
//delete btns
.btnd {
    align-items: center;
    padding: 0;
    background-clip: padding-box;
    background-color:  #FF4742;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 170px;
  }
  
  .btnd:hover,
  .btnd:focus {
    background-color:  #ff6b66;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .btnd:hover {
    transform: translateY(-1px);
  }
  
  .btnd:active {
    background-color:  #ff3029;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }

a.btnd {
    min-width: 100px;
    width: 170px;
}