*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml;utf8, %3Csvg width='10%20' height='10%25' viewBox='0 0 1000 1000' xmlns='http://www.w3.org/2000/svg' %3E %3Cdefs%3E %3ClinearGradient id='linearGradientId' gradientTransform='rotate(0 0.5 0.5)'%3E %3Cstop offset='0%25' stop-color='%237F7FD5' /%3E %3Cstop offset='50%25' stop-color='%2386A8E7' /%3E %3Cstop offset='100%25' stop-color='%2391EAE4' /%3E %3C/linearGradient%3E %3CclipPath id='shape'%3E %3Cpath fill='currentColor' d='M841,628.5Q705,757,558,823Q411,889,238,799Q65,709,129,530.5Q193,352,300,222.5Q407,93,591.5,123Q776,153,876.5,326.5Q977,500,841,628.5Z'%3E%3C/path%3E %3C/clipPath%3E %3C/defs%3E %3Cg clip-path='url(%23shape)'%3E %3Cpath fill='url(%23linearGradientId)' d='M841,628.5Q705,757,558,823Q411,889,238,799Q65,709,129,530.5Q193,352,300,222.5Q407,93,591.5,123Q776,153,876.5,326.5Q977,500,841,628.5Z' /%3E %3C/g%3E %3C/svg%3E");      
}
.form_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.form_container form{
    display: flex;
    flex-direction: column;
}
input{
    margin: 15px 0;
    padding: 10px;
}
#btn{
    padding: 10px;
    border: none;
    background-color: red;
    color: rgb(255, 255, 255);
    border: 2px solid red;
    text-align: center;
    font-size: 15px;
    &:hover{
        cursor: pointer;
    }
    a{
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
}
a{
    text-decoration: none;
}