*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    height: 100vh;
    background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml;utf8, %3Csvg width='100%25' height='100%25' viewBox='0 0 1000 1000' xmlns='http://www.w3.org/2000/svg' %3E %3Cdefs%3E %3ClinearGradient id='linearGradientId' gradientTransform='rotate(135 0.5 0.5)'%3E %3Cstop offset='0%25' stop-color='%23ee9ca7' /%3E %3Cstop offset='100%25' stop-color='%23ffdde1' /%3E %3C/linearGradient%3E %3CclipPath id='shape'%3E %3Cpath fill='currentColor' d='M745.5,677Q705,854,520,820Q335,786,197.5,643Q60,500,202.5,366Q345,232,489,251Q633,270,709.5,385Q786,500,745.5,677Z'%3E%3C/path%3E %3C/clipPath%3E %3C/defs%3E %3Cg clip-path='url(%23shape)'%3E %3Cpath fill='url(%23linearGradientId)' d='M745.5,677Q705,854,520,820Q335,786,197.5,643Q60,500,202.5,366Q345,232,489,251Q633,270,709.5,385Q786,500,745.5,677Z' /%3E %3C/g%3E %3C/svg%3E");
      
/*    display: flex;
    justify-content: center;
    align-items: center;*/
}
.form{
    height: 60%;
    width: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#insert_can{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
#delete_can{
    text-align: center;
}
input,select,option{
    padding: 10px 15px;
}
header{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        background-color: black;
        color: white;
        text-decoration: none;
        padding: 10px 15px;
        transition: 0.6s ease;
        &:hover{
            background-color: rgb(223, 223, 223);
            color: black;
        }
    }
}