*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}
form{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    .data{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        #name{
            margin-top: 10px;
        }
    }
}
#btn{
    padding: 35px;
    border-radius: 50%;
    font-size: 20px;
    border: none;
    background: rgba( 255, 255, 255, 0.2 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6.5px );
-webkit-backdrop-filter: blur( 6.5px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
&:hover{
    cursor: pointer;
}
}